*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0px;
    padding:0px;
    background-color:#0046a0;
    
}
.header{
    padding:10px;
    width:calc(100% - 20px);
    margin:auto;
    font-size:10px;
    display:flex;
    color:white;
}
.social-media{
    width:calc(50% - 20px);   
    padding:10px;
    margin: auto;
    
}
.facebook{
    border-radius:100%;
    padding:3px;
    background-color:white;
    color:#0046a0;
    height:5px;
}
.head-contact{
    width:calc(50% - 20px);
    padding:10px;
    margin:auto;
    text-align: right;
}
.name{
    padding:5px 10px 5px 5px;
}
.contact-name{
    padding:5px 10px 5px 5px;
}
.navigation{
    padding:10px;
    width:calc(100% - 20px);
    margin:auto;
    font-size:10px;
    display:flex;
    color:white;
}
.nav-button{
    display:flex;
    margin:auto;
    width:50%;
}
.seo-account{
    padding:10px;
    text-align: right;
    width:calc(25% - 20px);
    font-size:10px;
    margin:auto;
}
.seo-button{
    padding:10px 15px;
    border-radius:20px;
    background-color:#ffa824;
    color:white;
    font-size:14px;
    border:none;
    

}
.seo-button:hover{
    background-color:transparent;
    border:1px solid
}
.rocket{
    padding:0px 5px 0px 0px;
    font-size:15px;
}
.logo{
    width:25%;
    
}
.logo img{
    padding:10px;
    width:calc(75% - 20px);
}
.dropdown{
 
 text-decoration: none;   
}
.drop-btn{
    padding:20px;
    background-color:transparent;
    border:none;
    color:white;
    font-weight:bolder;
    width:calc(60%-40px);
    max-width: auto;
}
.container{
    display:flex;
    background-image: url("assets/images/firs-back.png");
}
.main-text{
    width:40%;
    font-size:30px;
    font-weight:900;
    box-sizing:border-box;
    line-height: 0.5;
    margin:50px 0px 0px 20px;
    
}
.first-back{
    width:60%;
}
.first-back img{
    width:100%;
    
}
.text{
    color:white;
}
.text2{
    color:#ffa824;
    
}
.extra{
    width:calc(50% - 20px);
    color:white;
    margin:10px 0px 0px 20px;
    font-size:14px;
}
.know{
    
    width:calc(15% - 20px);
    padding:10px;
    border-radius:20px;
    border:3px solid white;
    color:white;
    background-color:transparent;
    font-weight:bolder;
}
.knowmore{
    margin:20px 0px 50px 20px;
    color:white; 
}
.main{
    background-image:url("assets/images/first-back.png");
    
}
.section-two{
    width:calc(100% - 2px);
    background-color:white;
    
    border:1px solid white;
}
.four-divs{
    display:flex;
    text-align:center;
}
.seo{
    
    width:calc(25% - 100px);
    padding:40px 60px;
}
.one{
    background-color:#0046a0;
    color:white;
    margin:20px 0px 0px 0px;
    border-radius:0px 0px 10px 0px;
}
.two{
    background-color:#ffa824;
    color:white;
    margin:0px 0px 20px 0px;
    border-radius:10px 10px 0px 0px;
}
.three{
    background-color:#0046a0;
    color:white;
    border-radius:0px 0px 10px 10px;
    margin:20px 0px 0px 0px;
}
.four{
    background-color:#ffa824;
    color:white;
    border-radius:10px 0px 0px 0px;
    margin:0px 0px 20px 0px;
}
.image{
    width:30px;
}
.sectwo-main{
    margin:40px 0px 0px 0px;
}
.customer{
    display:flex;
    width:calc(100% - 60px);
    margin:40px 0px 0px 20px;
}
.cust-text{
    width:50%;
}
.cust-img{
    width:50%;
}
.cust-img img{
    width:100%;
}
.text-one{
    color:#0458e9;
    font-weight:bolder;
}
.text-two {
    color:#0458e9;
    font-weight:bold;
    font-size:20px;
}

.text-three{
    font-size:15px;
    line-height: 1.5;
}
.services{
    padding:14px 20px;
    border-radius:50px;
    font-size:13px;
    border:none;
    background-color:#0046a0;
    color:white;
}
.full-text{
    margin:90px 0px 0px 0px;
}
.section-three{
    background-color:#e2ecf7;
}
.secthree-main{
    display:flex;
    width:100%;

}
.web-img{
    width:calc(40% - 80px);
    padding:60px 20px;
}
.web-img img{
    width:100% ;
    margin:0px 0px 0px 20px;
    
}
.web-text{
    width:calc(60% - 20px);
    padding:10px;
}
.txt-one{
    color:#0458e9;
}
.txt-two{
    color:#0458e9
}
.txt-three{
    font-size:15px;
    line-height: 1.5;
}
.txt-four{
    display:flex;
    padding:20px ;
    border:1px solid black;
}
.cust{
    border:1px solid black;
    padding:20px;
}
.project{
    border:1px solid black;
    padding:20px;
}